<div id="list-item">

	<h3><%= list.title %></h3>
	<p><%= list.description %></p>

		<% if list.progress == 0 %>

		  <p>In progress</p>

		<% elsif list.progress == 1 %>

		  <p>Completed</p>

		<% end %>

	<%= link_to "Delete", list_path(list.id), method: :delete, remote: true, class: "delete-item" %> 

</div>