<h1>Welcome @user. Here's what you gotta do today</h1>

<% if current_user %>
	
	<p>Add to list? </p>

	<%= render 'new_list_form' %>

	<% @lists.each do |list| %>
		<h3><%= list.title %></h3>
		<p><%= list.description %></p>

		<% if list.progress == 0 %>

		  <p>In progress</p>

		<% elsif list.progress == 1 %>

		  <p>Completed</p>

		<% end %> 
	<% end %>

<% end %>