<% if current_user %>

  <h1>Welcome <%= current_user.username %>. Here's what you gotta do today</h1>

	<%= render 'shared/list_form' %>

  <h3><%=current_user.username%>'s things to do:</h3>

  <div class="list-item-container">
  	<%= render @lists %>
  </div>


<% end %> 