<h1>Welcome @user. Here's what you gotta do today</h1>

<% if current_user %>
	
	<p>Add to list?</p>

	<%= render 'shared/list_form' %>

  <h3><%=current_user.username%>'s things to do:</h3>

  <%= render @lists %>


<% end %> 