<div>
	<%= form_for List.new, remote: true, class: "list-item-form" do |f| %>
		
		<p>
			<%= f.label :title %>
			<%= f.text_field :title, class: "list-item-title" %>
		</p>
		<p>
			<%= f.submit %>
		</p>

	<% end %> 

</div>
